/* Added Autoprefixer */
.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: linear-gradient(to bottom, white, black);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-family: helvetica;
  /*background-color: #242d40;*/
  /*background-color: #141d26;*/
}

h1 {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-box {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 35px;
  padding-left: 17px;
  padding-right: 17px;
}

#issueInputForm {
  display: block;

  /*text-align: center;*/
}

#issueInputForm label,
button {
  margin-top: 12px;
  display: inline-block;
}

button {
  padding: 4px 8px;
  border-style: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
}

button:hover {
  -webkit-box-shadow: 0px 0px 2px 1px grey;
          box-shadow: 0px 0px 2px 1px grey;
}

input,
select {
  padding: 5px;
  border-width: 1px;
  border-radius: 4px;
  width: 100%;
}

.issue-box {
  background-color: lightgrey;
  margin: 10px 30px 10px 30px;
  border-radius: 4px;
  padding: 25px 17px 17px 17px;
}

.close-button {
  margin-right: 4px;
  background-color: orange;
}

.delete-button {
  margin-left: 4px;
  background-color: red;
}

/*.close-button:hover,
.delete-button:hover {
  box-shadow: 0px 0px 2px 1px grey;
}*/
